// .slider{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 5%;

// }
.stepper {
    // width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0%;
    margin-bottom: 10%;
    margin-top: 10%;
}
// .muirtl-1grwyff-MuiStepConnector-root {
//     right: calc(50% + 20px) !important;
//     left: calc(-50% + 20px) !important;
// }
